body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainContainer{
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  background-color: #CEE5D0;
  /* margin-left: 30px; */
  /* background-image: url(./poly_bg/2595009.jpg); */
  /* background-size: cover; */
  /* color: rgba(123, 133, 146, 0.7); */
  /* background: #352f5b; */

  /* color: #6c6499; */
}

.mainHeading{
  /* font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  color:#5F939A  ;
  margin-top: 0;
}

.container{
  display: flex; 
  width: 370px;
  flex-flow: wrap;
  /* font-family: Arial, Helvetica, sans-serif; */
  margin-left: 35%;
  margin-top: 20px;
  align-items: center;
}

.clrbtn
{
  display: flex; 
  align-items:center;
  /* width: 370px; */
  /* flex-flow: wrap; */
}
.colors{
  display: flex; 
  flex-flow: wrap;
  /* width: 120px; */
  margin-left: 200px;
  margin-top: 3px;
}
.info{
  padding-left: 50px;
  padding-right: 50px;
  color: #5a5a5a;
}
.redsq {
  background-color: #FF7171;
  /* color:  */
  font-size: 19px;
  /* margin-right: 2px; */
  height: 20px;
  width: 20px;
  /* margin-top: 15px; */
  padding-top: 0.1vh;
  border-radius: 5px;

}
.greensq {
  background-color: #70AF85;
  /* color:  */
  font-size: 19px;
  /* margin-right: 2px; */
  height: 20px;
  width: 20px;
  /* margin-top: 15px; */
  padding-top: 0.1vh;
  border-radius: 5px;

}

.whitesq {
  background-color: #FEF5ED;
  /* color:  */
  font-size: 19px;
  /* margin-right: 2px; */
  height: 20px;
  width: 20px;
  /* margin-top: 15px; */
  padding-top: 0.1vh;
  border-radius: 5px;

}
.patient{
  margin: 0;
  margin-left: 6px;
  margin-top: 3px;
  color: #5a5a5a;
}
.square{
  /* background-color: rgb(102, 45, 102); */
  color: #16181b;
  /* color:  */
  font-size: 19px;
  margin-right: 2px;
  height: 50px;
  width: 50px;
  margin-top: 15px;
  padding-top: 0.1vh;
  border-radius: 5px;
}

.createbtn{
  margin-left: 200px;
}

.space{
  height: 500px;
}

.btn {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 9px;
  background: #FFAAA5;
  padding: 8px 9px 8px 9px;
  text-decoration: none;
  border: none;
  margin-top: 2%;
}
.resbtn{
  margin-top: 20px;
  /* margin-left: 120px; */
}
.btn:hover {
  background: #FABEA7;
  text-decoration: none;
}
/* button{
  margin-left: 45%;
} */